.main {
  width: 100vw;
  height: 100vh;
}

.CenterAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Vertical {
  flex-direction: column;
}

.Spaces {
  row-gap: 8px;
}

.MinterZone {
  width: 30vw;
  height: 30vh;
  background-color: #f0f0f0;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: inset 14px 14px 9px #d5d5d5, inset -14px -14px 9px #ebebeb;
}

.Hide {
  display: none;
}

/* frem here */
