.dropbtn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

  /*required*/
  cursor: pointer;
  flex-direction: column;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /**/
  transition: 0.8s ease;
}

.dropbtn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transition: 0.8s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: 0.8s ease;
}

.dropbtn-content {
  /*required 100%*/
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.8s ease;
}

.dropbtn-content div {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  /*Required and size should be greater that dropbtn-content*/
  display: block;
  text-decoration: none;
  transition: 0.8s ease;
}

/* .dropbtn-content div:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: scale(1.1) translateY(-3px);
} */
.NormalButton:hover {
  cursor: pointer;
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: scale(1.1) translateY(-3px);
}
.WarningButton:hover {
  cursor: pointer;
  background-color: rgb(222, 70, 56);
  box-shadow: 0px 15px 20px rgba(222, 70, 56, 0.4);
  color: #fff;
  transform: scale(1.1) translateY(-3px);
}

.dropdown:hover .dropbtn-content {
  /* Required*/
  display: block;
  transition: 0.8s ease;
}

.dropbtn-content div:active {
  transform: scale(1) translateX(3px);
}

/* .styleNormal {
  color: #23c483;
}
.styleAbnormal {
  color: #c46c23;
} */
